/***** BASE STYLES *****/

body {

}

/***** GRID *****/

.full-width {
  margin: 0 auto;
  overflow: auto;
  width: 1200px;
}

.half-width {
  float: left;
  margin: 0 auto;
  width: 600px;
}

.third-width {
  float: left;
  margin: 0 auto;
  width: 300px;
}

/***** HEADER *****/

header {
  height: 100px;
  text-align: center;
}

header h1 {
  padding: 10px 0  0 10px;
}

header nav a {
  list-style: none;
  text-decoration: none;
}

header nav ul li {
  display: inline-block;
  padding: 10px 10px 0 0;
}

/***** CONTENT *****/

table {
  width: 100%;
}

.big {
  font-size: 30px;
  padding: 75px;
  text-align: center;
}

.album {
  padding-right: 15px;
}

/***** CONTACT *****/

form {
  text-align: center;
  margin-top: 50px;
}

.form-control {
  background: transparent;
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 16px;
  width: 600px;
}

input {
  height: 45px;
}

form .submit {
  background: #ff5722;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}

/***** FOOTER *****/

footer {
  padding-top: 50px;
  text-align: center;
}

footer p {
  display: inline-block;
  padding: 25px;
}
